* {
    margin: 0; 
    padding: 0; 
    border: none;
    outline: none;
    box-sizing: border-box; 
    text-decoration: none; 
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

body {
    background: url(./bg\ linkpage.jpg) no-repeat;
    background-size: cover;
    background-position-y: center;
    min-height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;  
    animation: zoomIn 0.5s;
}

img.foto {
    display: none;
}


/*Text, button*/
h1 {
    font-size: 35px;
}
.title p:nth-child(2){
    margin-top: 5px;
}

.title p:nth-child(3){
    font-size: 14px;
    margin-bottom: 20px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 53px;
    width: 350px;
    font-size: medium;
    background-color: rgba(141, 132, 95, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 5px auto 0 auto;
    border-radius: 5px;
    transition: 400ms;
}

button:hover {
    background:rgb(143, 137, 114);
    height: 60px;
    width: 355px; 
    cursor: pointer;
}

object {
    height: 1px;
    width: 300px;
    background: rgba(0, 0, 0, 0.2);
}


/*Info js*/
#info {
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    max-width: 500px;
    font-size: medium;
    background-color: rgba(150, 146, 131, 0.3);
    border-radius: 5px;
    box-shadow: 0 2px 10px 2px #00000010;
    /*box-shadow: 2px 2px rgba(141, 132, 95, 0.3);*/
}
.whats img {
    opacity: 0.5;
    width: 40px;
    animation: pulse 1.5s;
    animation-iteration-count: infinite;
}
.whats {
    position: absolute;
    width: 100%;
    display: flex;
    margin-top: 70vh;
    padding-left: 10px; 
}


/*Footer*/
footer {
    opacity: 0.4;
    font-size: 15px;
    margin-top: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

@media (max-width: 658px), (max-height: 562px) {
    .container {
       padding: 10px;
       position: static;
    }
    body {
        flex-direction: column;
    }
    img.foto {
        display: block;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        border:rgb(143, 137, 114) solid 4px;
        padding: 4px;
    }
    .whats img {
        width: 30px;
    }
}


