* {
    margin: 0; /* tira todas os espaços entre as divs*/
    padding: 0; /* remove as bordas laterais*/
    border: none;
    outline: none;
    box-sizing: border-box; /* limita o conteúdo ao tamanho interno da caixa*/
    text-decoration: none; /* remove personalização do texto, ex: sublinhado*/
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}
body {
    background: linear-gradient(45deg, black,rgb(11, 41, 31));
    background-size: 150% 150%;
    animation: bground 15s ease infinite;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
@keyframes bground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
.conteiner {
    width: 300px;
    margin: 100px auto;
}
img {
    width: 100%;
}
img.foto {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border:rgb(42, 165, 128) solid 4px;
    padding: 4px;
}
h1 {
    margin-top: 15px;
    margin-bottom: 35px;
    color: antiquewhite;
}
ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 53px;
    background-color: rgb(42, 165, 128);
    margin-top: 5px;
    border-radius: 5px;
    color: antiquewhite;
    transition: background 400ms;
}
ul li a:hover{
    background:rgb(67, 245, 191);
}
footer {
    color: antiquewhite;
    opacity: 0.3;
    font-size: 15px;

    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 15px;
}
img:hover {
    width: 130px;
    height: 130px;
}
